* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
  cursor: pointer;
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 5px rgb(0, 140, 255), 0 0 30px rgb(0, 140, 255);
}
.shadow__btn:active {
  background: rgb(1, 62, 142);
}
.red {
  color: rgb(230, 0, 0);
}
.timer {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  font-size: 25px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  background-color: #b6d0ff6d;
  border-radius: 6px;
}
